<div class="chathistory">
	<% if(chats!=null){%>
	<header class="chat-top-bar">
		<div class="chat-title"><span>Chat History</span></div>
		<div class="ui vertical divider"></div>
		<div class="closechat">
			<button class="ui button close-chat">
				<i class="remove icon"></i>
			</button>
		</div>
		
	</header>
	<ol class="chathistory content conversation ui segment">
		<% chats.forEach(function(chat){ %>

		<% if(chat.username == chat.loginname) { %>
		<li class="ui vertical segment chatitem bkg-self-chat">
			
			<div class="messages ui pointing right label">
				<div class="message-text">
					<span data-id=<%- chat['_id'].str %> class="chattext"><%=chat.text%></span>
				</div>
				<div class="message-timestamp inline field">
					
					<time datetime=<%= chat.time.getFullYear()+'-'+chat.time.getMonth()+'-' + chat.time.getDate() + 'T'+chat.time.getHours() + ':' + chat.time.getMinutes() %> >
						<span class="username"><%= chat.username+ " • " %> </span>
						<i class="history icon"></i>
						<span class="time-elapsed">
							<%= chat.elapsed %>
						</span>
					</time>
				</div>
				
			</div>
			<div class="userinfo chatheader">
				<div class="ui small header right avatar">
					<img src="/avatar/default-avatar.jpg" class="ui circular image user right">
					
				</div>
			</div>
			
		</li>
		
		<% } else { %>
		<li class="ui vertical segment chatitem bkg-other-chat">
			<div class="userinfo chatheader">
				<div class="ui small header avatar">
					<img src="/avatar/defaultAvatar.gif" class="ui circular image user">
					
				</div>
			</div>
			<div class="messages ui pointing left label">
				<div class="message-text">
					<div data-id=<%- chat['_id'].str %> class="chattext"><%=chat.text%></div>
				</div>
				<div class="message-timestamp inline field">
					
					<time datetime=<%= chat.time.getFullYear()+'-'+chat.time.getMonth()+'-' + chat.time.getDate() + 'T'+chat.time.getHours() + ':' + chat.time.getMinutes() %> >
						<span class="username"><%= chat.username %></span>
						<i class="history icon"></i>
						<span class="time-elapsed">
							<%= chat.elapsed %>
						</span>
					</time>
				</div>
				
			</div>
			
		</li>
		<% } %>
		<% });} %>
	</ol>
	
</div>